body{
    background: #fff;
    }
    .cadastro{
    background: #fff;
    width: 30%;
    margin: 0 auto;
    }
    .input-form{
    display: block;
    margin-top: 15px;
    width: 70%;
    border-radius: 50px;
    }
    .altura{
    height: 300px;
    }
    input{
        height: 35px;
    }
    select{
        padding:10px;
        border-radius: 50px;
        width: flex;
        margin-top: 15px ;
        }
    .delete,.view{
        background: #fff;
        width: 30%;
        padding: 0px;
        margin: 0 auto;
        }
    button{
        background: #fff;
        border-radius: 50px;
        height: 35px;
        margin-top: 15px;
    }
    label{
        margin-top: 100px;
    }