<!DOCTYPE html>
<html>
<head>
 <title>Formulários em HTML5</title>
 <link rel="stylesheet" type="text/css" href="assets/css/layout.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="assets/css/tipografia.css" media="screen" />
<meta charset="UTF-8">
<script>
    function carregarEquipamento() {
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onload = function () {
            console.log(this.responseText);
            let cboequipamento = document.getElementById("cboIdequipamento")
            let objequipamento = JSON.parse(this.responseText);

            //let document.
            objequipamento.forEach(equipamento => {
                let novaOpcao = document.createElement("option");
                novaOpcao.value = equipamento.IdEquipamento;
                novaOpcao.text = ("Tipo:")+equipamento;
                cboequipamento.add(novaOpcao);
            });
        }
        xmlhttp.open("GET", "../Equipamento/controle_Equipamento_listar.php");
        xmlhttp.send();
        xmlhttp.open("GET", "../Funcionario/controle_Funcionario_listar.php");
        xmlhttp.send();

    }
    carregarLocal();
    </script>
</head>
<body>
    <header>
        <nav>
            <div id="logo"></div>
                <ul id="right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Relatorios</a></li>
                    <li><a href="#">Manutenções</a></li>
                    <ion-icon id="iconuser" name="person-circle-outline"></ion-icon>
                </ul>
        </nav>
    </header>


<form method="post" action="controle_manutencao_cadastrar.php" class="cadastro">
    <h1>cadastrar</h1>

    <label>Problema</label>
    <input class="input-form" type="" name="txtproblema"  >

    
    <label>Data Inicio</label>
    <input class="input-form" type="date" name="txtdatainicio" >
    
    <label>Status</label>
    <input class="input-form" type="text" name="txtstatus" >
    
    
    <label >Equipamento</label>
    <select id="equipamento" name="cboIdequipamento">
        
    </select>
    
    <label id="file" class="file">Selecione as Fotos</label>
    <input class="input-form" type="file" name="txtimg" >

    <button type="submit" action="">Cadastrar</button>

</form>

</body>
</html>