<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="assets/css/tipografia.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/LerUrl.js"></script>
    <title>Chamado de Manuteção</title>
    
</head>
<body>
    <header>
        <nav>
                <div id="logo"></div>
                
                <ul id="right">
                    <ion-icon id="iconuser" name="person-circle-outline"></ion-icon>
            </ul>
            
        </nav>
        
    </header>
<!-- engloba o quadradinho e tudo dentro devle kkkk-->
<section id="formulario">
    <div class="container">
        <h1>Abertura de chamado</h1>
        <br>
        <form action="#">
        <!-- a div da classe "detalhes-user" engloba tudo do cadastro   -->
        <div class="detalhes-user" id="dados">
            <!-- a div "campodosdados" é basicamente o input box e o titulo dele, cada campo pra inserir os dados tem sua propria div,
                a span da classe "detalhes" é o titulo do input-->
                <div class="campodosdados">
                    <span class="detalhes">Problema:</span>
                    <textarea type="text" id = "txtproblema" placeholder="Digite o problema completo..." required autofocus="true"></textarea>
                </div>

                <div class="campodosdados">
                    <span class="detalhes">Data de Inicio:</span>
                    <input class="input" type="date" id ="date" placeholder="Digite o registro..." required autofocus="true">
                </div>
            <!-- campodosdados é o INPUT de todos os requerimentos com o span (ex: email, senha, etc)-->
                <div class="campodosdados">
                    <span class="detalhes">Status: </span>
                   <select class="input" id="cbostatus">
                    <option>Concluído</option>
                    <option>Pendente</option>
                    <option>Aberta</option>
                   </select>
                </div>

                <div class="campodosdados">
                    <span class="detalhes">Local: </span>
                    <select class="input" id="cbolocal" onchange="carregarEquipamento()"><option></option></select>
                    </select>
                </div>

                <div class="campodosdados">
                    <span class="detalhes">Equipamento: </span>
                    <select class="input" id="cboequipamento"></select>
                        <option></option>
                    </select>
                </div>
                <div class="campodosdados">
                    <span class="detalhes">Manutentor: </span>
                    <select class="input" id="cbomanutentor"></select>
                        <option></option>
                    </select>
                </div>
                <div id="file" class="campodosdados">
                <span class="detalhes">Selecione as Fotos</label></span>
                <input class="input-file" id="inpfoto" type="file" name="txtimg" accept="image/*" >
                </div>
                <div id="alerta"></div>
        </div>
    </form>
    
        <div class="botao">
            <button type="button" class="bnt" onclick="btncreate()" id="create">Cadastrar</button>
        </div>

    </div>
</section>
   

</body>
</html>