<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="assets/css/tipografia.css">
    <link rel="stylesheet" href="assets/css/tabelas.css">

    <title>Dashboard</title>
</head>
<body onload="onload()">
    <header>
        <nav>
            <div id="logo"></div>
            <ul id="right">
                <li><a id="homeMenu" href="../dashboard/dashboard.html">Home</a></li>
                <li><a id="cadastrarMenu" href="../Listagem-tabela/listagem.html">Cadastrar</a></li>
                <li><a id="abrirChamadoMenu" href="../manutencao/manutencao.html">Abrir Chamado</a></li>
                <li><a id="manutencoesMenu" href="../Dashboard-manutentor/Historico-manutencao.html">Manutenções</a></li>
                <ion-icon id="iconuser" name="person-circle-outline"></ion-icon>
            </ul>
        </nav>
    </header>
   
    <section id="chart-section">
        <div class="chart-box">
            <h3>Status das Manutenções</h3>
            <canvas id="chart2"></canvas>
        </div>
        <div class="chart-box">
            <h3>Manutenções Aceitas</h3>
            <canvas id="chart3"></canvas>
        </div>
    </section>
    <section class="lista-tabelas" id="view-manutencao">
        <div class="lista-tabelas" id="view-tabela-manutencao">
            <div class="dropdown" id="dropdown-manutencao" onmousedown="toggleDiv('hide-div','down-arrow-historico','up-arrow-historico');">
                <H3 class="titulo">Historico de Manuteções</H3>
                <ion-icon class="arrow-up" id="up-arrow-historico" name="chevron-up-outline"></ion-icon>
                <ion-icon class="arrow-down"id="down-arrow-historico" name="chevron-down-outline"></ion-icon>
            </div>
            <div id="hide-div">
                <div id="tabela-historico"></div>
            </div>
        </div>
    </section> 

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/charts.js"></script>
    <script src="assets/js/auth.js"></script>
    <script>
        carregarHistorico("tabela-historico");
    </script>
</body>

</html>