<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Recuperação de Senha</title>
</head>
<body>
    
<div>
    <form>
        <h2> Informe seu e-mail </h2>
        <p>
            Enviaremos um e-mail com um link para a redefinição da sua senha.
        </p>
        <input type="email" class="email" placeholder="E-mail">
        <br>
        <input type="button" class="button" value="Enviar e-mail">
    </form>
</div>

</body>
</html>