<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/layout.css">
    
    <title>Login - SGME </title>
</head>
<body>   

    <div class="page">
      
        <form method="POST" class="formLogin">
            <img src="image/recurso.png">
            <h2><b>Seja bem-vindo!</b></h2>
            <p>Por favor identifique-se.</p>

            <label for="email" >E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password" >Senha</label>
            <input type="password" placeholder="Digite sua senha" />
            <a href="esquecisenha.html">Esqueci minha senha </a>
            <input type="submit" value="Acessar" class="btn" />
            <hr>
            <p id="helpmsg">Use seu E-mail ou Registro <br>para efetuar o login.</p>
        </form>
    
    </div>
</body>
</html>