*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 8vh;
    position: relative;
    background-color: #221c4d;
    
}
nav{
    padding: 3px;
    width: 100%;
    height: 8vh;
}
nav div#logo{
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 7vh;
    float: left;
    margin-top: 6px;
    margin-left: 20px;
    cursor: pointer;
}
nav ul{
    align-items: center;
    display:flex;
    flex-flow: row wrap;
    justify-content: left;
    height: 6vh;
    padding-right: 20px;
    float: right;
}
nav ul li{
    align-items: center;
    text-align: center;
    list-style: none;
}
nav ion-icon#iconuser{
    width: 6.5vh;
    height: 6.5vh;
    color: #ffff;

}
nav ion-icon#iconuser:hover{
    color: #ca0f0f;
    cursor: pointer;
}
/**  ajusta o body e centraliza os elementos.*/
body{
    height: 100vh;
    align-content: center;
}

section#formulario{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**ajusta o container que as divs estão inseridas**/
.container {
    min-width: 300px;
    max-width: 800px;
    padding: 25px 40px ;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px 10px #0000003c;
    align-content: center;

}
/**  ajusta os elementos da div detalhes-user*/
.container form .detalhes-user{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
/**estiliza todos os input e spans dentro do form   */
form .detalhes-user .campodosdados {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
    margin-bottom: 10px;
    margin-top: 10px;
}

h3#view{
    float: left;
}

/** input "campodosdados" para inserir detalhes do usuario na hora do cadastro  */
.detalhes-user .campodosdados input.input, select,textarea {
    display: block;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    outline: none;
    height: 40px;

}
textarea{
    height: 60%;
}
/**estiliza o texto dentro do input*/
:placeholder-shown{
    padding: 5px;
    font-size: 10px;
}
/**estiliza o select*/
  .detalhes-user .campodosdados select:focus,
  .detalhes-user .campodosdados select:valid{
      border: 1px solid #417ec0
  }

  /**estiliza o botao*/
   button {
    height: 40px;
    width: 35%;
    font-size: 15px;
    font-weight: 600;
    background-color: #1f0f68;
    outline: none;
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-align: center;
    justify-content: center;
    ;

   }
   /**p mudar a cor do botao qnd passa o mouse*/
   button:hover{
    background-color: #1f3b59;
   }
   /**classe do botao*/
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    column-gap: 20px;
}
 /*muda a cor da borda quando clica no input :3*/
    .detalhes-user .campodosdados input.input:focus,
    .detalhes-user .campodosdados input.input:valid,textarea{
        border: 1px solid #417ec0
    }
    input[type=file]{
        border: none;
        margin: none;
    }
    input[type=file]::file-selector-button {
        border: none;
        background: #721919;
        padding: 10px 20px;
        border-radius: 10px;
        color: #ffffff;
        cursor: pointer;
        transition: background .2s ease-in-out;
      }
      
      input[type=file]::file-selector-button:hover {
        background: #0d45a5;
      }
      #file{
        width: 100%;

        display: flex;
        flex-flow: column;

        justify-items: center;
      }

      /*
      ------------------------------------
                RESPONSIVIDADE
      ------------------------------------
      */
    @media screen and (max-width: 600px){
        .container form .detalhes-user{
            display: block;
            justify-content: space-between;
        }
        #file{
            width: 100%;
            text-align: center;
            display: flex;
            flex-flow: column;

            justify-items: center;
          }
        button {
            height: 40px;
            width: 45%;
            font-size: 15px;
            font-weight: 600;
            background-color: #1f0f68;
            outline: none;
            border-radius: 10px;
            color: #fff;
            text-align: center;
           }
           form .detalhes-user .campodosdados {

            width: 90%;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        nav ul{
            align-items: center;
            display:flex;
            flex-flow: row wrap;
            justify-content: left;
            height: 6vh;
            padding-right: 20px;
            float: right;
        }
        nav ul li{
           display: none;
        }
        nav ion-icon#iconuser{
            width: 6.5vh;
            height: 6.5vh;
            color: #ffff;
        
        }
        nav ion-icon#iconuser:hover{
            color: #ca0f0f;
            cursor: pointer;
        }
        input[type=file]::file-selector-button {
            border: none;
            background: #721919;
            padding: 10px 10px;
            border-radius: 10px;
            color: #ffffff;
            cursor: pointer;
            transition: background .2s ease-in-out;
          }
    }