div.lista-tabelas{
    margin: 25px;
    max-width: 800px;
    width: 100%;
    padding: 20px 40px ;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px 10px #0000003c;
}

table{
    margin-top: 50px;
    max-width: 700px;
    width: 100%;
}
table td{
    text-align: center;
    padding: 5px 15px;
    border: none;
    
}
tr{
    width: 25px;
    height: 25px;
    border: 1px solid #0000003c;
}

div#abertos-manutencao,div#pendente-manutencao,div#tabela-historico{
    display: none;
}
h3.titulo{
    float: left;
}
ion-icon.arrow-down{
    float: right;
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
}
ion-icon.arrow-up{
    float: right;
    width: 25px;
    height: 25px;
    display: none;
    cursor: pointer;
}
div.dropdown{
    cursor: pointer;
}
section.lista-tabelas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-check{
    width: 25px;
    height: 25px;
    color: #1c8733ee;
    background-color: #9ce7ac;
    border-radius: 100%;
    cursor: pointer;
    float:right
}
.icon-uncheck{
    width: 25px;
    height: 25px;
    color: #6e0000;
    background-color: #FF7878;
    border-radius: 100%;
    cursor: pointer;
    float:right
}
.icon-complete{
    width: 25px;
    height: 25px;
    color: #08200dee;
    background-color: #9ce7ac;
    background-size: 25px 25px;
    border-radius: 5px;
    cursor: pointer;
}
