<!DOCTYPE html>
<html>
<head>
 <title>Formulários em HTML5</title>
 <link rel="stylesheet" type="text/css" href="main.css" media="screen" />
<meta charset="UTF-8">
</head>
<body>
 <main>


<form method="post" action="controle_Local_cadastrar.php" class="cadastro">
 <h1>cadastrar</h1>

 <label for="Numsala" class="label1">Numero da sala</label>
 <input class="input-form" type="text" name="txtNumsala" autocomplete="off" >

 <label for="nome" class="label1">Bloco</label>
 <input class="input-form" type="text" name="txtBloco" autocomplete="off">


 <label for="andar" class="label1">Andar</label>
 <input class="input-form" type="text" name="txtAndar" autocomplete="off">


 <button type="submit" action="">Cadastrar</button>

 </form>


 <form method="get" action="controle_Local_view.php" class="view">
    
    <h1>view</h1>

    <label for="Idsala" class="label1">Id da sala</label>
    <input class="input-form" type="text" name="txtidSala" autocomplete="off" >

    <button type="submit" action="">Visualizar</button>
    </form>

    <form method="post" action="controle_Local_delete.php" class="view">
       
        <h1>Deletar</h1>

        <label for="Registro" class="label1">Registro de Local</label>
        <input class="input-form" type="text" name="txtidSala" autocomplete="off" >

        <button type="submit" action="">Apagar</button>

    </form>

 </main>
</body>
</html>