<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/layout.css">
    <link rel="stylesheet" href="assets/css/tipografia.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                <div id="logo"></div>
                
                <ul id="right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Relatorios</a></li>
                    <li><a href="#">Manutenções</a></li>
                    <ion-icon id="iconuser" name="person-circle-outline"></ion-icon>
            </ul>
            
        </nav>
        
    </header>
    <p>.</p>

    <section class="lista-tabelas" id="view-funcionarios" >
        <div class="lista-tabelas" href="../Funcionario/Funcionario.html" id="view-tabela-funcionario">
            <div class="dropdown" id="dropdown-funcionarios" onmousedown="toggleDiv('tabela-funcionario','down-arrow-funcionario','up-arrow-funcionario');">
            <H3 href="../Funcionario/Funcionario.html" class="titulo">Cadastrar Funcionario</H3>
            <ion-icon class="arrow-up" id="up-arrow-funcionario" name="chevron-up-outline"></ion-icon>
            <ion-icon class="arrow-down" id="down-arrow-funcionario" name="chevron-down-outline"></ion-icon>
            </div>
            <div id="tabela-funcionario" >
                
            </div>
        </div>
    </section>

    <section class="lista-tabelas" id="view-manutencao" href="../manutencao/manutencao2.html">
        <div class="lista-tabelas" id="view-tabela-manutencao">
            <div class="dropdown" id="dropdown-manutencao" onmousedown="toggleDiv('tabela-manutencao','down-arrow-manutencao','up-arrow-manutencao');">
            <H3 class="titulo">Cria um Chamado</H3>
            <ion-icon class="arrow-up" id="up-arrow-manutencao" name="chevron-up-outline"></ion-icon>
            <ion-icon class="arrow-down"id="down-arrow-manutencao" name="chevron-down-outline"></ion-icon>
            </div>
            <div id="tabela-manutencao" >
            </div>
        </div>
    </section>

    <section class="lista-tabelas" id="view-equipamento" href="../Equipamento/equipamento.html">
        <div class="lista-tabelas" id="view-tabela-equipamento">
            <div class="dropdown" id="dropdown-equipamento" onmousedown="toggleDiv('tabela-equipamento','down-arrow-equipamento','up-arrow-equipamento');">
            <H3 class="titulo">Cadastrar Equipamento</H3>
            <ion-icon class="arrow-up" id="up-arrow-equipamento" name="chevron-up-outline"></ion-icon>
            <ion-icon class="arrow-down"id="down-arrow-equipamento" name="chevron-down-outline"></ion-icon>
            </div>
            <div id="tabela-equipamento" >
            </div>
        </div>
    </section>
    
    <section class="lista-tabelas" id="view-local" href="../local/local.html">
        <div class="lista-tabelas" id="view-tabela-local">
            <div class="dropdown" id="dropdown-local" onmousedown="toggleDiv('tabela-local','down-arrow-local','up-arrow-local');">
            <H3 class="titulo">Cadastrar Local</H3>
            <ion-icon class="arrow-up" id="up-arrow-local" name="chevron-up-outline"></ion-icon>
            <ion-icon class="arrow-down"id="down-arrow-local" name="chevron-down-outline"></ion-icon>
            </div>
            <div id="tabela-local" >
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="assets/js/controle_listagem.js"></script>
    <script>
        carregarEquipamento('tabela-equipamento');
        carregarLocal('tabela-local');
        carregarManutencao('tabela-manutencao')
    </script>
</body>
</html>